/*===============================*/
/* MENU MOBILE */
/*===============================*/

.menu-toggle{

display:none;
font-size:32px;
cursor:pointer;
color:white;

}

.header.scrolled{

background:#08111f;
box-shadow:0 10px 30px rgba(0,0,0,.35);

}

@media(max-width:992px){

.menu-toggle{

display:block;

}

.navbar{

position:absolute;
top:85px;
left:0;
width:100%;
background:#08111f;
display:none;
padding:25px;

}

.navbar.active{

display:block;

}

.navbar ul{

flex-direction:column;
gap:25px;

}

}
