/* ===========================
   ADVANCED ANIMATIONS
=========================== */

/* Effet lumineux sur les boutons */

.btn-primary,
.btn-secondary,
.buy-btn{
    position:relative;
    overflow:hidden;
}

.btn-primary::before,
.btn-secondary::before,
.buy-btn::before{
    content:"";
    position:absolute;
    top:0;
    left:-120%;
    width:100%;
    height:100%;
    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.35),
        transparent
    );
    transition:.6s;
}

.btn-primary:hover::before,
.btn-secondary:hover::before,
.buy-btn:hover::before{
    left:120%;
}

/* Apparition douce des sections */

.hero,
.categories,
.products,
.why-zysell,
.statistics,
.featured-creators,
.testimonials,
.cta,
.footer{
    animation:fadeUp .8s ease;
}

/* Rotation des icônes */

.language-btn:hover,
.theme-btn:hover{
    transform:rotate(180deg);
}

/* Animation des statistiques */

.stat-card:hover h2{
    transform:scale(1.1);
    transition:.3s ease;
}

/* Animation du footer */

.footer-social a:hover{
    transform:translateY(-5px);
}
